
*{
  box-sizing: content-box;
}



body{
  background-color:#FFFDE3;
  display: flex;
  justify-content: center;
  align-content: center;
}


  .Flex-Container{
   text-align: center;
   height:800px;
   width:500px;
   padding:30px;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
    background-color:#A66CFF;


  }


.Header>h1{
  font-family: "Brygada 1918" ,sans-serif;
  letter-spacing: 5px;
}

.burger>.logo{
  width:100px;
  height: auto;
}

.Header>h2{
  font-size: 20px;
  font-weight: lighter;
  font-family: "Brygada 1918" , sans-serif;
}

.Header>p{
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Brygada 1918" , sans-serif;
}

input[type="name"] {
  width:50%;
  margin-top: 10px;
  padding:5px;
  align-self: center;
}

.form-group>.last{
  width:50%;
  margin-left: 130px;
}

.form-group>label>span> {
  color:red;
}


.form-group{
  font-weight: bolder;

  font-family: "Brygada 1918" , sans-serif;

}

.Address{
  font-weight: bolder;
  font-size: 1.2rem;
  font-family: "Brygada 1918" , sans-serif;
}


input[type="text"] {
  width:100%;
  margin-top: 10px;
  padding:5px;
}


input[type="email"] {
  width:50%;
  margin-top:10px;
  padding:5px;
}

input[type="number"] {
  width:50%;
  margin-top: 10px;
  padding:5px;
}


.submit-button{
  margin-top:20px;
  width:100%;
  padding: 10px;
  background-color:#FFFFDE;
  border:none;
  cursor: pointer;
}


@media screen and (max-width:500px) {
  .Flex-Container {
    width:350px;
  }
}
